set mark-symlinked-directories on
set completion-ignore-case on
# show completion with single tab
set show-all-if-ambiguous on
# color files by types
set colored-stats on
# append char to indicate file type
set visible-stats on
set colored-completion-prefix on
set menu-complete-display-prefix on
# tab and shift-tab to cycle completions
TAB:menu-complete
"\e[Z":menu-complete-backward

set keyseq-timeout 500

# "\e" presents "esc" key which is a substitution of meta key(alt key)
# "\C" and "Control" represents "Control" key

# keymaps for moving
"\C-b":backward-char
"\C-f":forward-char
"\C-a":beginning-of-line
"\C-e":end-of-line
"\ef":forward-word
"\eb":backward-word
"\e\C-f":shell-forward-word
"\e\C-b":shell-backward-word
"\C-l":clear-screen

# keymaps for manipulating history
"\C-p":history-search-backward
"\C-n":history-search-forward

# keymaps for changing text

# delete character under cursor
# Control-d:delete-char

# move the character before cursor to the position of cursor and move cursor forward
# if the cursor is at the end of the line, then exchange the last two characters
"\C-t":transpose-chars

# like transpose-chars, but transpose the words
"\et":transpose-words
# word boundaries are the same as shell-forward-word
"\e\C-t":shell-transpose-words

# uppercase, lowercase, capitalize the word following the cursor and move the cursor forward
"\eu":upcase-word
"\el":downcase-word
"\ec":capitalize-word

# keymaps for killing and yanking
# kill the text after cursor to the end of the line
"\C-k":kill-line
# kill the text before cursor to the beginning of the line
# Control-x-robout:backward-kill-line
"\C-u":unix-line-discard

# kill word divided by /
"\C-g":unix-filename-rubout

# kill word divided by shell
"\ee":shell-kill-word
"\ew":shell-backward-kill-word

"\ek":kill-whole-line

# edit command with $EDITOR
"\ev":edit-and-execute-command

# add sudo at the beginning of the lnie and move cursor to the end of the line
"\es":"\eOHsudo \eOF"
