@import 'styles/palette'

* {
  all: unset;
  font-family: Maple Mono NL NF CN;
  /* font-family: Hack Nerd Font Mono; */
  font-weight: bold;
  background: transparent;
  border-radius: 18px;
}

.general {
  background-color: $crust;
}

.container {
  /* background-color: $red; */
  background-color: $mantle;
  margin-top: 10px;
}

.powermenu-container {
  /* background-color: $red; */
  margin-top: 10px;
}

// all switcher widgets
/* .switcher-box { */
/*   .switcher-label { */
/*     font-size: 18px; */
/*     padding: 10px 0px 0px 10px; */
/*   } */
/*   .switcher-btn-box { */
/*     margin: 10px 15px 0px 15px; */
/*     border-radius: 100px; */
/*     .separator { */
/*         font-size: 2px; */
/*     } */
/*     .switcher-btn { */
/*       font-size: 26px; */
/*       padding: 10px 20px 10px 20px; */
/*       border-radius: 100px 0px 0px 100px; */
/*     } */
/*     .arrow-btn { */
/*       font-size: 26px; */
/*       font-weight: bold; */
/*       padding: 10px 20px 10px 20px; */
/*       border-radius: 0px 100px 100px 0px; */
/*     } */
/*     .switcher-btn-on { */
/*       background-color: $blue; */
/*       &:hover { */
/*         background-color: $subtext1; */
/*       } */
/*     } */
/*     .switcher-btn-off { */
/*       background-color: $surface1; */
/*       &:hover { */
/*         background-color: $blue; */
/*       } */
/*     } */
/*     .arrow-btn-on { */
/*       background-color: $blue; */
/*       &:hover { */
/*         background-color: $subtext1; */
/*       } */
/*     } */
/*     .arrow-btn-off { */
/*       background-color: $surface1; */
/*       &:hover { */
/*         background-color: $blue; */
/*       } */
/*     } */
/*   } */
/* } */

@import 'styles/datetime'
@import 'styles/calendar'
@import 'styles/battery'
@import 'styles/power-menu'
@import 'styles/control-bar'
@import 'styles/monitor'
@import 'styles/long-switcher'
