* {
    border: 0;
    margin: 0;
    padding: 0;
    spacing: 0;

    bg:  #303446;
    bg-alt: #414559;
    blue: #8caaee;
    fg: #c6d0f5;
    fg-alt: #e78284;
    grey: #737994;

    background-color: @bg;
    text-color: @fg;
    transparent: rgba(46,52,64,0);
}


